$color_1: #000;
$color_2: #525c76;
$color_3: #333;
$color_4: #8c93a3;
$background-color_1: white;
$background-color_2: #bdbdbd;
$background-color_3: #1769ff;
$background-color_4: #e1e1e1;
$background-color_5: #49536e;
$background-color_6: #2561ed;
$background-color_7: #ffad0d;

.main {
	margin-left: 36px;
	bottom: 364px;
	left: 294px;
}
.dinamicWork {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 533px;
	max-height: 266px;
	margin: 0 auto;
	background-color: $background-color_1;
	border-radius: 24px;
	padding: 24px 32px 32px 32px;
}
.toptext {
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	text-align: left;
	color: $color_1;
	margin: 0 0 24px 0;
}
.field {
	margin-bottom: 24px;
}
.fieldInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.texth3 {
	color: $color_2;
	font-size: 16px;
	font-weight: 500;
	line-height: 160%;
	margin: 0;
}
.progressBar {
	width: 469px;
	height: 8px;
	border-radius: 5px;
	overflow: hidden;
}
.progressFill {
	height: 100%;
	border-radius: 5px;
}
.progressPercentage {
	font-size: 14px;
	color: $color_3;
}
.completed {
	background-color: $background-color_2;
}
.inProgress {
	background-color: $background-color_3;
}
.notStarted {
	background-color: $background-color_4;
}
.myAchievements {
	.progressFill {
		background-color: $background-color_5;
	}
}
.departmentAchievements {
	.progressFill {
		background-color: $background-color_6;
	}
}
.organizationAchievements {
	.progressFill {
		background-color: $background-color_7;
	}
}
.text {
	color: $color_4;
	font-size: 16px;
	font-weight: 500;
	line-height: 160%;
	margin-top: 20px;
	text-align: left;
}

