.section {
	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__data {
		align-self: center;
		color: #525c76;
		font-size: 14px;
		font-weight: 500;
		line-height: 160%;
	}

	&__diagram {
		gap: 17px;
		display: flex;
		flex-direction: row;

		&-text {
			color: #525c76;
			font-size: 16px;
			font-weight: 700;
			line-height: 160%;
			margin: 0 0 5px 0;
		}

		&-image {
			width: 126px;
			height: 126px;
		}

		&-caption {
			flex-direction: column;
			margin-top: 40px;
		}

		&-progress {
			width: 126px;
			height: 126px;
			border-radius: 70%;
			border: 2px solid black;
			box-sizing: border-box;
		}
	}

	&__progress {
		width: 120px;
		height: 120px;
		position: relative;
		display: inline-block;

		&-circle {
			transform: rotate(-90deg);
			background-color: #fff5ce;
			border-radius: 50%;
			width: 120px;
			height: 120px;
			align-self: center;
			display: block;
		}

		&-circle-mini {
			transform: rotate(-90deg);
			background-color: #fff5ce;
			border-radius: 50%;
			width: 100px;
			height: 100px;
			align-self: center;
			display: none;
		}

		&-bar {
			fill: transparent;
			stroke: #ffad0d;
			stroke-width: 7;
			stroke-dasharray: 339;
			stroke-dashoffset: 0;
			transition: stroke-dashoffset 0.5s ease;
			stroke-linecap: round;
		}

		&-number {
			display: block;
			position: absolute;
			top: 30%;
			left: 40%;
			z-index: 3;
			color: #0f1d40;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;
		}
	}
}

@media (max-width: 1100px) {
	.section {
		&__header {
			flex-direction: column;
		}

		&__data {
			align-self: flex-start;
			margin-top: -5px;
		}

		&__diagram {
			margin-top: 5px;
			gap: 14px;

			&-caption {
				margin-top: 15px;
			}

			&-text {
				color: #525c76;
				font-size: 14px;
				font-weight: 500;
			}
		}

		&__progress {
			&-circle {
				display: none;
			}

			&-circle-mini {
				display: block;
			}

			&-bar {
				stroke-dasharray: 305;
				stroke-dashoffset: 0;
			}

			&-number {
				top: 18%;
				left: 35%;
				font-size: 16px;
				font-weight: 500;
				line-height: 160%;
			}
		}
	}
}
