.section {

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__data {
align-self: center;
        color: #525C76;
        font-size: 14px;
        font-weight: 500;
        line-height: 160%;
    }

    &__diagram{
        gap: 17px;
        display: flex;
        flex-direction: row;
        &-image{
            width: 126px;
            height: 126px;
        }
        &-caption{
            flex-direction: column;
            margin-top: 40px;
        }
    }
}
