.developing {
	width: 530px;
	height: 400px;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	margin: auto;

	&__container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: o auto;
		width: 65%;
	}

	&__image {
		margin: 0 auto;
	}

	&__title {
		margin: 20px 0 0;
		color: #525c76;
		text-align: center;
		font-family: PT Root UI;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
	}
	&__subtitle {
		margin: 20px 0 0;
		color: #525c76;
		text-align: center;
		font-family: PT Root UI;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
	}
}

@media screen and (max-width: 1080px) {
	.developing {
		width: 471px;
		height: 302px;
		left: 10%;
		&__image {
			width: 70px;
			height: 70px;
		}
		&__title {
			font-size: 16px;
		}
		&__subtitle {
			font-size: 14px;
		}
		&__container {
			width: 70%;
		}
	}
}
