.mytask {
	margin: 0 auto;
	min-height: 48px;
	border-bottom: 1px solid #e2e4e8;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&:hover {
		background-color: #e2e4e8;
		cursor: pointer;
	}

	&__no-hover {
		margin: 0 auto;
		min-height: 48px;
		border-bottom: 1px solid #e2e4e8;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__title {
		text-align: left;
		width: 55%;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		color: #525c76;
		margin: 0;
		align-self: end;
		padding-bottom: 5px;

		&-done {
			color: #b2b7c2;
		}

		&-missed {
			color: #ff3236;
		}
	}

	&__status {
		align-self: end;
		padding-bottom: 5px;
		margin: 0;
		width: 150px;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		color: #b2b7c2;

		&-prove {
			color: #44ac21;
		}

		&-missed {
			color: #ff3236;
		}

		&-department-task {
			text-align: center;
		}
	}

	&__data {
		align-self: end;
		text-align: end;
		width: 11%;
		padding-bottom: 5px;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		color: #525c76;
		margin: 0;

		&-done {
			color: #b2b7c2;
		}
	}

	&__button {
		border: none;
		background: inherit;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		color: #8247e5;
		width: 25%;
		height: 34px;
		cursor: pointer;
		align-self: center;
		padding-bottom: 5px;
		text-align: end;
		align-self: end;

		&:disabled {
			color: #b2b7c2;
			cursor: auto;
		}
	}

	&__discription {
		display: flex;
		flex-direction: row;
		align-self: center;
		width: 73%;
		justify-content: space-between;
	}

	&__datas {
		align-self: center;
		display: flex;
		flex-direction: row;
		justify-self: flex-end;
	}

	&__score {
		text-align: center;
		align-self: end;
		color: #525c76;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		width: 15%;
		margin: 0;
		padding-bottom: 5px;

		&-missed {
			color: #b2b7c2;
		}

		&-done {
			color: #44ac21;
		}
	}

	&__realizer {
		color: #525c76;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		align-self: self-end;
		padding-bottom: 5px;
		margin: 0;

		&-done {
			color: #b2b7c2;
		}
	}
}

@media (max-width: 1240px) {
	.mytask {
		&__title {
			width: 200px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

@media (max-width: 1024px) {
	.mytask {
		&__score {
			width: 10%;
		}
		&__data {
			width: 12%;
		}
	}
}
