.section {
	margin: 0 20px 6.5% 0;
	max-width: 561px;
	min-height: 208px;
	background-color: #fff;
	border-radius: 24px;
	padding: 20px 30px 40px;

	&__title {
		font-size: 18px;
		font-weight: 500;
		line-height: 160%;
		text-align: start;
		color: #0f1d40;
		margin: 22px 0 15px;
	}

	&__text {
		color: #525c76;
		font-size: 16px;
		font-weight: 700;
		line-height: 160%;
		margin: 0 0 5px 0;

		&-data {
			color: #525c76;
			font-size: 16px;
			font-weight: 700;
			line-height: 160%;
			margin: 0;
		}

		&-area {
			display: flex;
			flex-direction: row;
		}
	}

	&__hardskills-list {
		display: flex;
		flex-direction: row;
		margin: -10px 0 0;
		padding: 0;
		gap: 10px;
		flex-wrap: wrap;
	}

	&__hardskills-item {
		list-style: none;
		margin: 0;
		padding: 3px 15px;
		color: #ffffff;
		border-radius: 3px;
		background: #8247e5;
		font-size: 14px;
		font-weight: 500;
		line-height: 160%;
	}
}

@media (max-width: 1100px) {
	.section {
		// margin: 0 20px 6.5% 0;
		margin-bottom: 9%;
		max-width: 290px;
		min-height: 110px;
		padding: 10px 10px 20px 32px;

		&__title {
			font-size: 20px;
			margin-bottom: 11px;
		}

		&__text {
			font-weight: 500;

			&-data {
				font-weight: 500;
				padding-bottom: 5px;
			}

			&-area {
				flex-direction: column;
			}
		}

		&__hardskills-list {
			margin: 15px 0 15px 0;
		}
	}
}
