.profile {
	background-color: #f5f6f7;
	display: flex;
	flex-direction: column;
	gap: 3.5%;
	padding-top: 150px;
	margin-left: 25px;

	&__data {
		display: flex;
		flex-direction: row;
		gap: 3.5%;
	}

	&__sections {
		display: block;
	}
}
@media (max-width: 1100px) {
	.profile {
		gap: 4%;

		&__data {
			gap: 4%;
		}
	}
}
