$accentDarkGrey400: #525c76;
$accentDarkGrey900: #0f1d40;
$accentRedError500: #ff3236;
$accentLightGrey400: #e2e4e8;
$accentLightGrey600: #b2b7c2;
$primary500: #8247e5;
$mainWhite: #ffffff;
$mainSmokyWhite: #f4f4f4;
