.App {
	text-align: center;
	/* Аня - страница регистрации(начало кода) */
	display: block;
	max-width: 100%;
	min-width: 320px;
	height: 100%;
	margin: 0 auto;
	background-color: #f5f6f7;

	/* Аня - страница регистрации(конец кода) */
}
