.main-page {
	max-width: 1440px;
	display: block;
	min-height: 100%;
	background-color: #f5f6f7;
	flex-grow: 1;
}

.main-page__section {
	display: block;
	margin-left: 260px;
}

.main-page__block {
	display: flex;
	padding-top: 150px;
}

@media (max-width: 1240px) {
	.main-page__section {
		margin-left: 210px;
	}
}
