.new-password {
	width: 586px;
	min-height: 534px;
	border-radius: 4px;
	background-color: #ffffff;

	@media (max-width: 1024px) {
		width: 522px;
		min-height: 426px;
	}

	&__error {
		width: 90%;
		font-size: 16px;
		font-weight: 500;
		line-height: 160%;
		color: #ff3236;
		margin-bottom: 39px;

		@media (max-width: 1024px) {
			font-size: 15px;
			margin-bottom: 32px;
		}

		@media (max-width: 500px) {
			margin-top: 8px;
		}
	}
}
