.new-password {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-color: #f4f4f4;

	&__container {
		background-color: #ffff;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 535px;
		height: 534px;
		box-sizing: border-box;
		padding: 80px;
	}

	&__title-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 16px;
		margin-bottom: 16px;
	}

	&__logo {
		width: 40px;
		height: 40px;
		background-color: #d9d9d9;
		border-radius: 50%;
	}

	&__title {
		font-size: 24px;
		line-height: 36px;
		font-weight: 500;
		color: #0f1d40;
	}

	&__subtitle {
		margin-bottom: 48px;
		color: #525c76;
		font-size: 18px;
		font-weight: 400;
		text-align: center;
		line-height: 28.8px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		//   gap: 24px;
		width: 375px;
		position: relative;
		align-items: center;
	}

	&__input-container {
		position: relative;
	}

	&__input {
		width: 375px;
		height: 40px;
		padding: 8px 12px;
		border-radius: 3px;
		font-size: 14px;
		line-height: 22.4px;
		font-weight: 500;
		border: 1px solid #e2e4e8;
		opacity: 1;
		transition: opacity 0.2s linear;
		//   margin-bottom: 6px;

		&:hover {
			opacity: 0.8;
		}

		&:focus {
			outline: 1px solid #e2e4e8;
		}

		&::placeholder {
			color: #525c76;
		}
	}

	&__submit-btn {
		background-color: #8247e5;
		margin-top: 32px;
		color: #fff;
		width: 344px;
		height: 52px;
		border-radius: 3px;
		border: none;
		font-size: 20px;
		line-height: 32px;
		padding: 0;
		cursor: pointer;
		opacity: 1;
		transition: opacity 0.2s linear;

		&:hover {
			opacity: 0.8;
		}

		&:disabled {
			background-color: #e2e4e8;
			cursor: default;
		}
	}

	&__btn-container {
		display: flex;
		flex-direction: row;
		gap: 8px;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	&__hide-btn {
		border: none;
		background-color: transparent;
		width: 20px;
		height: 20px;
		cursor: pointer;
		opacity: 1;
		transition: opacity 0.2s linear;
		font-size: 0;

		&:hover {
			opacity: 0.8;
		}
	}

	&__error-message {
		color: red;
		font-size: 12px;
		line-height: 25px;
		font-weight: 500;
	}

	&__error-container {
		height: 24px;
		text-align: left;
	}

	&__error-icon {
		width: 14px;
		height: 12.25px;
		margin-right: 6px;
	}

	&__hide-btn {
		background-image: url('../../images/eye-icon.svg');
		background-position: center;
		background-repeat: no-repeat;
	}

	&__hide-btn_visible {
		opacity: 0.8;
	}

	&__input_no-valid {
		border-color: #ff4d4f;
	}
}
