$color_1: white;
$color_2: #525C76;
$background-color_1: #FFFFFF;

/* Оставил красные границы, чтобы был виден попап*/
.Module {
	display: flex;
	position: relative;
	width: 720px;
	border-radius: 40px;
	flex-direction: column;
	align-items: center;
}
.ModulePort {
	border: 1px solid red;
	width: 530px;
	height: 419px;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	background-color: $background-color_1;
	margin: auto;
}
.button {
	width: 344px;
	height: 52px;
	background: #8247E5;
	color: $color_1;
	font-size: 18px;
	padding: 10px 16px 10px 16px;
	margin-top: 40px;
}
.Message {
	width: 370px;
	height: 29px;
	font-size: 18px;
	line-height: 28.8px;
	text-align: center;
	color: $color_2;
	font-weight: 400;
	margin-top: 30px;
}
