$color_1: #000;
$color_2: #525c76;
$color_3: #333;
$color_4: #8c93a3;
$color_0: #0f1d40;
$background-color_1: white;
$background-color_2: #eeeff2;
$background-color_3: #1769ff;
$background-color_4: #e1e1e1;
$background-color_5: #49536e;
$background-color_6: #2561ed;
$background-color_7: #ffad0d;

.main {
	margin-left: 36px;
	bottom: 364px;
	left: 294px;
}

.dinamicWork {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 526px;
	max-height: 258px;
	margin: 0 auto;
	background-color: $background-color_1;
	border-radius: 24px;
	padding: 24px 32px 21px;
}

.toptext {
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	text-align: left;
	color: $color_0;
	margin: 8px 0 24px 0;
}

.field {
	margin-bottom: 16px;
}

.fieldInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 2px;
}

.texth3 {
	color: $color_2;
	font-size: 16px;
	font-weight: 500;
	line-height: 160%;
	margin: 0;
}

.progressBar {
	width: 465px;
	height: 8px;
	border-radius: 5px;
	overflow: hidden;
	background-color: $background-color_2;
}

.progressBarDepartment {
	width: 465px;
	height: 8px;
	border-radius: 5px;
	overflow: hidden;
	background-color: #d3e5fe;
}

.progressFill {
	height: 100%;
	border-radius: 5px;
}

.progressPercentage {
	font-size: 14px;
	font-weight: 700;
	color: $color_3;
}

.progressPercentageDepartment {
	font-size: 14px;
	font-weight: 700;
	color: $background-color_6;
}

.text {
	color: $color_4;
	font-size: 16px;
	font-weight: 500;
	line-height: 160%;
	text-align: left;
	font-style: normal;
	margin: 0;
	padding-top: 4px;
}

@media (max-width: 1240px) {
	.main {
		margin: 0 35px;
	}
	.dinamicWork {
		max-width: 458px;
		max-height: 168px;
		padding: 24px;
	}
	.toptext {
		font-size: 20px;
		line-height: 32px;
		margin: 2px 0 16px;
	}
	.progressBar {
		width: 404px;
	}

	.progressBarDepartment {
		width: 404px;
	}

	.text {
		font-size: 14px;
		padding: 0;
	}
}
