/* Header.scss */

.header {
	width: 75.5%;
	height: 128px;
	top: 44px;
	right: 64px;
	position: fixed;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 24px 44px;
	background-color: #ffffff;
	border-radius: 24px;
	gap: 36px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
	z-index: 2;

	&__user-info {
		display: flex;
		flex-direction: row;
		gap: 16px;
		align-items: center;
		width: 335px;
	}

	&__photo {
		width: 80px;
		height: 80px;
		border-radius: 50%;
	}

	&__details {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 4px;
		flex: 1 0 0;
	}

	&__name {
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		color: #0f1d40;
	}

	&__position {
		color: #525c76;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22.4px;
	}

	&__user-points {
		display: flex;
		flex-direction: row;
		gap: 68px;
	}

	&__points {
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: 42px;

		&_rating {
			color: #6433c4;
		}

		&_place {
			color: #6433c4;
			text-align: left;
		}
	}

	&__points-text {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 22.4px;
		color: #525c76;

		&_rating {
			text-align: right;
		}

		&_place {
			text-align: left;
		}
	}

	&__vertical-line {
		background-image: url('../../images/vetrical-line.svg');
		background-repeat: no-repeat;
		background-position: center;
		width: 0.5px;
		height: 64px;
	}

	&__user-buttons {
		display: flex;
		gap: 20px;
		margin-left: auto;
		align-items: center;
	}

	&__bell-btn {
		background-image: url('../../images/bell-icon.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 28px 28px;
		width: 40px;
		height: 40px;
		cursor: pointer;
		border: none;
		background-color: transparent;
		position: relative;
		opacity: 1;
		transition: opacity 0.2s linear;

		&:hover {
			opacity: 0.8;
		}

		&::after {
			content: '3';
			width: 21px;
			height: 21px;
			background-color: #db2438;
			border-radius: 50%;
			position: absolute;
			top: -2px;
			right: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 12px;
			font-weight: 500;
			line-height: 19.2px;
			color: white;
		}
	}

	&__exit-btn {
		background-image: url('../../images/exit-icon.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 28px 28px;
		width: 28px;
		height: 28px;
		cursor: pointer;
		border: none;
		background-color: transparent;
		position: relative;
		opacity: 1;
		transition: opacity 0.2s linear;

		&:hover {
			opacity: 0.8;
		}
	}
}
