$accentDarkGrey400: #525c76;
$accentDarkGrey900: #0f1d40;
$accentRedError500: #ff3236;
$accentLightGrey400: #e2e4e8;
$accentLightGrey600: #b2b7c2;
$primary500: #8247e5;
$mainWhite: #ffffff;
$mainSmokyWhite: #f4f4f4;

.reset-password {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
	background-color: $mainSmokyWhite;
}
.reset-password__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	width: 535px;
	height: 523px;
	background-color: $mainWhite;
	border-radius: 4px;
}
.reset-password__title-container {
	margin: 80px 0 0 0;
	display: flex;
	width: 260px;
}
.reset-password__circle-logo {
	margin: 0 16px 0 0;
	width: 40px;
	height: 40px;
}
.reset-password__message {
	margin: 16px 0 0 0;
	padding: 0;
	justify-self: center;
	max-width: 370px;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	text-align: center;
	color: $accentDarkGrey400;
}
.reset-password__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 48px 0 0 0;
	justify-self: center;
	width: 375px;
}
.reset-password__input {
	margin: 0;
	padding: 0 70px 0 12px;
	width: 375px;
	height: 40px;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
	color: $accentDarkGrey400;
	border: 1px solid $accentLightGrey400;
	border-radius: 3px;
	&:hover {
		outline: 1px solid $accentLightGrey400;
	}
	&:focus {
		outline: 1px solid $accentLightGrey400;
	}
}
.reset-password__input_no-valid:focus {
	outline: 1px solid $accentRedError500;
	box-shadow: 0 0 0.5px 3px rgba(255, 50, 54, 0.3);
}
.reset-password__error-area {
	display: flex;
	margin: 4px 0 0 0;
	height: 19px;
	align-self: flex-start;
}
.reset-password__error-area_hidden {
	visibility: hidden;
}
.reset-password__error-message {
	margin: 0 0 0 8px;
	padding: 0;
	align-self: center;
	font-weight: 500;
	font-size: 12px;
	line-height: 19px;
	color: $accentRedError500;
}
.reset-password__button {
	margin: 33px 0 0 0;
	width: 344px;
	height: 52px;
	justify-self: center;
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
	color: $mainWhite;
	background-color: $primary500;
	border-radius: 3px;
	border: none;
	&:disabled {
		color: $accentLightGrey600;
		background-color: $accentLightGrey400;
	}
}
.reset-password__link {
	margin: 24px 0 0 0;
	padding: 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 29px;
	color: $primary500;
	text-decoration: none;
}
