.teamlead {
	display: block;
	margin-left: 280px;
	padding-top: 150px;
}

@media (max-width: 1240px) {
	.teamlead {
		margin-left: 230px;
	}
}

.teamlead-tasks {
	max-width: 1087px;
	border-radius: 24px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	padding-bottom: 25px;
	margin-right: 30px;

	&__popup {
		top: 0;
		margin: 0;
	}

	@media (max-width: 1024px) {
		.teamlead-tasks {
			&__nav {
				flex-wrap: wrap;
				gap: 4px;
				margin-bottom: 0;
			}
			&__filter {
				padding-right: 10px;
				padding-top: 10px;
			}
		}
	}
}

.popup-teamlead {
	min-height: 792px;
	position: absolute;
	margin: 0;
	background: #ffffff;
	border-radius: 6px;
	border: 1px solid #e2e4e8;
	padding: 10px 0;
	width: 526px;
	top: 0;
	left: 59%;
}

.popup__button-reject {
	display: block;
	color: #8247e5;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 160%;
	width: 200px;
	height: 36px;
	border: none;
	background-color: inherit;
	margin-bottom: 32px;
	margin-left: 7%;
	cursor: pointer;
}

@media (max-width: 1024px) {
	.popup-teamlead {
		width: 455px;
	}
}
