.notifications {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.1);
	top: 0;
	left: 0;
	z-index: 2;
	box-sizing: border-box;

	&__container {
		width: 526px;
		max-height: 680px;
		border-radius: 8px;
		background-color: #fff;
		padding: 32px 24px 32px 32px;
		box-sizing: border-box;
		position: fixed;
		top: 108px;
		right: 64px;
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);

		@media (min-width: 1440px) {
			right: calc(64px + (100vw - 1440px) / 2);
		}

		@media (min-width: 1024px) and (max-width: 1280px) {
			right: 44px;
			// width: 36.53%;
			// height: 75.56%;
		}
	}

	&__pointer {
		width: 20px;
		height: 20px;
		transform: rotate(45deg);
		position: absolute;
		right: 64px;
		top: -10px;
		background-color: #fff;
		z-index: 3;

		@media (min-width: 1024px) and (max-width: 1279px) {
			right: 53px;
		}
	}

	&__title {
		color: #0f1d40;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 36px;
		margin: 0 0 12px;
	}

	&__tasks-container {
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		max-height: 500px;
		&::-webkit-scrollbar-track {
			background-color: green;
		}
	}

	&__task {
		display: flex;
		flex-direction: row;
		gap: 16px;
		block-size: border-box;
		min-height: 58px;
		width: calc(100% - 16px);
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		color: #525c76;
		border-top: 1px solid #e2e4e8;
		align-items: center;

		&:last-child {
			border-bottom: 1px solid #e2e4e8;
		}
	}

	&__data {
		margin: 0;
		padding: 0;
	}

	&__task-status {
		margin: 0;
		padding: 0;
	}
}
