.register {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	background-color: #f4f4f4;
	display: flex;
	align-items: center;

	&__container {
		width: 535px;
		min-height: 790px;
		border-radius: 4px;
		background-color: #ffffff;
		margin: 15px auto 15px;
	}

	&__header {
		width: 65%;
		margin: 0 auto;
		padding-top: 80px;
		padding-bottom: 18px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 10px;
	}

	&__logo-img {
		width: 40px;
		height: 40px;
	}

	&__title {
		font-size: 24px;
		font-weight: 500;
		line-height: 150%;
		text-align: center;
		margin: 0;
	}

	&__main {
		width: 80%;
		margin: 0 auto;
	}

	&__subtitle {
		width: 70%;
		font-size: 18px;
		font-weight: 400;
		line-height: 160%;
		color: #525c76;
		text-align: center;
		margin: 0 auto;
		padding-bottom: 48px;
	}

	&__error {
		display: block;
		margin: 0 auto 48px;
		width: 80%;
		font-size: 18px;
		font-weight: 400;
		line-height: 160%;
		color: #ff3236;
		text-align: center;
	}

	&__form {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}

	&__input {
		margin: 0 auto;
		border-radius: 3px;
		border: 1px solid #e2e4e8;
		width: 360px;
		min-height: 36px;
		padding-left: 12px;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		color: #525c76;
		position: relative;

		&::placeholder {
			font-family: PT Root UI;
			color: #B2B7C2;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 160%;
		}

		&:focus {
			outline: 1px solid #8247E5;
			box-shadow: 0px 0px 0px 3px #DCD4FF, 0px 2px 2px -1px rgba(0, 0, 0, 0.12);		}

		&[type='password'] {
			font-size: 20px;
		}
	}

	&__input_no-valid {
		outline: 1px solid #ff3236;
		box-shadow: 0 0 0.5px 3px rgba(255, 50, 54, 0.3);
	}

	&__input_no-valid:focus {
		outline: 1px solid #ff3236;
		box-shadow: 0 0 0.5px 3px rgba(255, 50, 54, 0.3);
	}

	&__input-span {
		margin-left: 32px;
		padding-bottom: 2px;
		color: #525C76;
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		text-align: left;
	}

	&__input-whitespace {
height: 24px;
	}

	&__submit-button {
		margin: 24px auto;
		border-radius: 3px;
		width: 344px;
		height: 52px;
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
		font-size: 20px;
		font-weight: 500;
		line-height: 160%;
		border: none;
		color: #ffffff;
		background-color: #8247e5;
	}

	&__submit-button_disabled {
		margin: 24px auto;
		border-radius: 3px;
		width: 344px;
		height: 52px;
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
		font-size: 20px;
		font-weight: 500;
		line-height: 160%;
		border: none;
		color: #b2b7c2;
		background-color: #e2e4e8;
	}

	&__caption-link {
		display: block;
		width: 70%;
		margin: 0 auto 30px;
		color: #8247e5;
		text-align: center;
		font-size: 18px;
		font-weight: 500;
		line-height: 160%;
		text-decoration: none;
	}

	&__eye-button {
		border: none;
		background-color: inherit;
		display: inline-block;
		position: absolute;
		right: 5%;
		top: 19%;
	}

	&__span {
		min-height: 120px;
	}

	&__pass-input {
		margin: 0 auto;
		position: relative;
	}

	&__error-area {
		display: flex;
		margin: 2px 0 24px 35px;
		align-self: flex-start;
	}

	&__alarm-logo {
		margin: 0;
		align-self: center;
		width: 16px;
		height: 16px;
	}

	&__error-message {
		margin: 0 0 2px 8px;
		padding: 0;
		align-self: center;
		font-weight: 500;
		font-size: 12px;
		line-height: 19px;
		color: #ff3236;
	}

	&__input-space {
		min-height: 21px;
	}
}
