.form {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	background-color: #f4f4f4;
	display: flex;
	justify-content: center;
	align-items: center;

	&__container {
		width: 586px;
		min-height: 830px;
		border-radius: 4px;
		background-color: #ffffff;
	}

	&__header {
		margin: 0 auto;
		width: 72%;
		padding-top: 80px;
		padding-bottom: 8px;
		display: flex;
		flex-direction: row;
		gap: 11px;
	}

	&__logo {
		width: 35px;
		height: 35px;
	}

	&__title {
		font-size: 24px;
		font-weight: 500;
		line-height: 150%;
		text-align: center;
		margin: 0;
	}

	&__main {
		width: 73%;
		margin: 0 auto;
	}

	&__subtitle {
		font-size: 16px;
		font-weight: 500;
		line-height: 160%;
		color: #525c76;
		padding-bottom: 26px;
	}

	&__error {
		width: 90%;
		font-size: 16px;
		font-weight: 500;
		line-height: 160%;
		color: #ff3236;
		margin-bottom: 65px;
	}

	&__form {
		display: flex;
		flex-direction: column;
	}

	&__label {
		display: flex;
		flex-direction: column;
		color: #525c76;
		font-size: 14px;
		font-weight: 500;
		line-height: 160%;
		position: relative;
	}

	&__input {
		border-radius: 3px;
		border: 1px solid #e2e4e8;
		width: 410px;
		min-height: 36px;
		padding-left: 12px;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		color: #525c76;
		position: relative;
		outline: #e2e4e8;
		margin-top: 4px;
		margin-bottom: 19px;

		&_filled {
			outline: #a4a9b6;
			border: 1px solid #a4a9b6;
		}

		&:focus {
			outline: 1px solid #8247e5;
			box-shadow: 0px 0px 0px 3px #dcd4ff, 0px 2px 2px -1px rgba(0, 0, 0, 0.12);
		}

		&_no-valid {
			outline: 1px solid #ff3236;
			box-shadow: 0 0 0.5px 3px rgba(255, 50, 54, 0.3);
		}

		&[type='password'] {
			font-size: 30px;
			line-height: 20%;
		}
	}

	&__eye-button {
		border: none;
		background-color: inherit;
		display: inline-block;
		position: absolute;
		right: 1%;
		top: 40%;
	}

	&__submit-button {
		margin: 28px auto 23px;
		border-radius: 3px;
		width: 425px;
		height: 45px;
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08);
		font-size: 16px;
		font-weight: 500;
		line-height: 160%;
		border: none;
		color: #ffffff;
		background-color: #8247e5;
		transition: background-color 0.3s ease-in-out;

		&:focus {
			box-shadow: 0px 0px 0px 3px #DCD4FF, 0px 2px 2px -1px rgba(0, 0, 0, 0.12);
		}

		&:hover {
			cursor: pointer;
			background-color: #a673ef;
		}
	}

	&__caption-link {
		display: block;
		color: #8247e5;
		font-size: 16px;
		font-weight: 500;
		line-height: 160%;
		text-decoration: none;
		margin-bottom: 50px;
		transition: color 0.3s ease-in-out;

		&:hover {
			cursor: pointer;
			color: #A673EF;
		}
	}
}
