$color_1: white;
$color_2: #525c76;
$background-color_1: #ffffff;

.Module {
	display: flex;
	position: relative;
	width: 720px;
	border-radius: 40px;
	flex-direction: column;
	align-items: center;
}
.ModulePort {
	width: 530px;
	height: 340px;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	background-color: $background-color_1;
	margin: auto;
}

.Message {
	width: 370px;
	font-size: 18px;
	line-height: 28.8px;
	text-align: center;
	color: $color_2;
	font-weight: 400;
	margin-top: 24px;
}

.openButton {
	margin: auto;
}
