.trackrecord {
	margin: 37px 0 30px;
	max-width: 1087px;
	background-color: inherit;
	display: flex;
	flex-direction: column;

	&__main-title {
		margin: 0 auto 23px;
		text-align: start;
		width: 100%;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%;
	}

	&__nav {
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		margin-bottom: 10px;
	}

	&__items {
		list-style: none;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	&__item {
		width: 498px;
		border-radius: 24px;
		margin: 0;
		padding: 25px 30px;
		list-style: none;
		background-color: #fff;
		display: flex;
		flex-direction: row;
	}

	&__title {
		margin: 8px 0 0;
		padding: 0;
		color: #525c76;
		font-size: 16px;
		font-weight: 700;
		line-height: 160%;
	}

	&__info {
		margin-left: 15px;
		width: 100%;
	}

	&__progress {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__subtitle {
		align-self: center;
		margin: 0;
		padding: 0;
		color: #525c76;
		font-size: 14px;
		font-weight: 500;
		line-height: 160%;
	}

	&__image {
		align-self: center;
		width: 85px;
		height: 85px;
	}

	&__procent {
		align-self: center;
		padding: 0;
		margin: 0 0 5px 0;
		color: #ffad0d;
		text-align: right;
		font-size: 20px;
		font-weight: 500;
		line-height: 160%;
	}

	&__diagram {
		background-image: url('../../../images/profile/100.svg');
		background-position: cover;
		width: 100%;
		height: 10px;
		background-repeat: no-repeat;
	}

	&__bar {
		width: 395px;
		height: 8px;
		border-radius: 5px;
		overflow: hidden;
		background-color: #fff5ce;
	}

	&__fill {
		height: 100%;
		border-radius: 5px;
		background-color: #ffad0d;
	}
}
