.side-navbar {
	min-width: 253px;
	background-color: #ffffff;
	padding: 30px 0 44px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	height: calc(100vh - 152px);
	position: fixed;
	top: 152px;
	border-radius: 0 24px 0 0;

	@media (max-width: 1240px) {
		min-width: 200px;
	}

	@media (max-width: 1025px) {
		top: 140px;
		height: calc(100vh - 140px);
	}

	&__title-container {
		display: flex;
		flex-direction: row;
		gap: 8px;
		align-items: center;
		margin: 0 auto 68px 44px;

		@media (max-width: 1240px) {
			margin-left: 20px;
		}
	}

	&__navigation {
		display: flex;
		flex-direction: column;
		gap: 5px;
		list-style: none;
		margin-left: 64px;
		margin-right: 0;
		margin-bottom: 0;
		padding: 0;
		flex-grow: 1;

		@media (max-width: 1025px) {
			margin-left: 36px;
		}

		&-icon * {
			width: 28px;
			height: 28px;
			transition: stroke 0.2s linear;
			fill: none;
			stroke: #525c76;
		}

		&-item {
			display: flex;
			flex-direction: row;
			gap: 10px;
			width: 100%;
			font-size: 16px;
			font-weight: 500;
			line-height: 32px;
			text-align: left;
			align-items: center;
			height: 42px;
			color: #525c76;
			box-sizing: border-box;
			border-radius: 8px 0 0 8px;
			cursor: pointer;
			transition: color 0.2s linear;

			&:hover {
				color: #3a4662;

				.side-navbar__navigation-icon * {
					stroke: #0f1d40;
				}
			}

			&:last-child {
				margin-top: auto;
				margin-bottom: 0;
			}

			&__navigation-icon {
				width: 28px;
				height: 28px;
				stroke: #747c90;
				fill: none;
			}
		}

		&-link {
			color: #525c76;
			text-decoration: none;
			transition: color 0.2s linear;

			&_active {
				color: #0f1d40;
				text-decoration: none;
				transition: color 0.2s linear;
			}

			&:hover {
				color: #3a4662;
			}
		}
	}
}

.no-cursor {
	cursor: auto;
}
