$accentLightGrey600: #b2b7c2;
$primary500: #8247e5;
$mainWhite: #ffffff;

.login {
	width: 586px;
	min-height: 620px;
	border-radius: 4px;
	background-color: $mainWhite;

	&__error {
		width: 90%;
		font-size: 16px;
		font-weight: 500;
		line-height: 160%;
		color: #ff3236;
		margin-bottom: 39px;
	}

	&__links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	&__checkbox-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 3px;
	}

	&__checkbox[type='checkbox'] {
		display: none;

		+ {
			span {
				width: 14px;
				height: 14px;
				margin: 0;
				border: 3px solid #49536e;
				border-radius: 3px;
			}
		}

		&:checked {
			+ {
				span {
					background-image: url(../../images/checkmark-yes.svg);
					background-size: 20px 20px;
					background-repeat: no-repeat;
					background-position: center center;
					border: 3px solid #49536e;
				}
			}
		}
	}

	&__checkbox-message {
		margin: 0 0 0 8px;
		font-weight: 500;
		font-size: 16px;
		line-height: 160%;
		color: #525c76;
	}

	&__link {
		margin: 0;
		padding: 0;
		color: $primary500;
		text-decoration: none;
		font-weight: 500;
		font-size: 16px;
		line-height: 160%;
	}
}
