$accentDarkGrey900: #0f1d40;
$accentDarkGrey400: #525c76;
$accentLightGrey900: #8c93a3;

.achievements {
	margin: 0 0 0 24px;
	width: 47%;
	min-height: 134px;
	background-color: #fff;
	border-radius: 24px;
	column-gap: 16px;
	padding-bottom: 30px;

	&__title {
		padding: 13px 0 0 32px;
		font-size: 24px;
		font-weight: 500;
		line-height: 36px;
		text-align: start;
		color: $accentDarkGrey900;
	}

	&__stats-container {
		display: flex;
		flex-direction: row;
		gap: 10px;
		margin: 24px 32px 0;
		list-style: none;
		padding: 0;
	}

	&__achieve {
		display: flex;
		flex-direction: column;
		width: 50%;
	}

	&__name {
		margin: 0;
		font-size: 18px;
		font-weight: 500;
		line-height: 28px;
		text-align: start;
		color: $accentDarkGrey900;
	}

	&__score-container {
		display: flex;
		margin: 8px 0 0 0;
		height: 32px;
	}

	&__logo {
		margin: 5.5px;
		width: 24px;
		height: 24px;
	}

	&__score {
		margin: 0 0 0 4px;
		font-size: 20px;
		font-weight: 500;
		line-height: 32px;
		text-align: start;
		color: $accentDarkGrey400;
	}

	&__completion {
		margin: 0 0 0 4px;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		text-align: start;
		color: $accentLightGrey900;
	}
}

@media (max-width: 1240px) {
	.achievements {
		width: 320px;
		padding-bottom: 50px;

		&__stats-container {
			margin: 18px 26px 0;
			gap: 34px;
			flex-direction: column;
		}

		&__achieve {
			width: 100%;
		}

		&__title {
			padding-top: 7px;
			padding-left: 25px;
			font-size: 20px;
			line-height: 32px;
		}

		&__name {
			font-size: 16px;
			line-height: 160%;
		}

		&__score {
			font-size: 18px;
			line-height: 160%;
		}

		&__completion {
			margin: 0;
		}
	}
}
