.modalUpload-background {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100vh;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	top: 0;
	left: 0;
	z-index: 2;
}

.modalUpload {
	width: 564px;
	height: 296px;
	display: flex;
	flex-direction: column;
	padding: 28px 32px;
	gap: 20px;
	background-color: #fff;
	position: fixed;
	left: 50%;
	top: 50%;
	align-items: center;
	transform: translate(-50%, -50%);
	text-align: center;
	box-sizing: border-box;
	border-radius: 6px;
	z-index: 3;

	&__title {
		font-size: 16px;
		line-height: 25px;
		font-weight: 500;
		color: #0f1d40;
		margin: 0;
	}

	&__image {
		width: 44px;
		height: 42px;
	}

	&__text {
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		color: #525c76;
		margin: 0;
		height: auto;
		white-space: pre-line;
	}

	&__button {
		width: 136px;
		height: 34px;
		background-color: #8247e5;
		border-radius: 3px;
		border: none;
		cursor: pointer;
		color: #ffffff;
		font-size: 14px;
		font-weight: 500;
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 6px 12px;
	}
	&__button-icon {
		background-image: url('../../../images/upload-icon.svg');
		background-repeat: no-repeat;
		background-size: 12px 12px;
		width: 12px;
		height: 12px;
		padding: 2px;
	}
	&__button-text {
		font-size: 14px;
		font-weight: 500;
		padding: 0;
		margin: 0;
	}

	&__close-btn {
		position: absolute;
		width: 18px;
		height: 18px;
		top: 32px;
		right: 32px;
		background-image: url('../../../images/close-btn.svg');
		background-repeat: no-repeat;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}
}
