.tasks {
	position: relative;
	margin: 37px 0 0 27px;
	max-width: 1087px;
	border-radius: 26px;
	background-color: #fff;
	display: flex;
	flex-direction: column;

	&__title {
		margin: 32px auto 23px;
		text-align: start;
		width: 94%;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 150%;
	}

	&__nav {
		width: 94%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		margin-bottom: 10px;
	}

	&__sort-button {
		font-size: 12px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		align-self: center;
		padding: 1px 15px 0;
		margin-right: 16px;
		height: 23px;
		border-radius: 12px;
		border: 1px solid #a673ef;
		background-color: #fff;
		color: #8247e5;
		cursor: pointer;
	}

	&__sort-button-active {
		background-color: #8247e5;
		color: #fff;
	}

	&__filter {
		display: flex;
		flex-direction: row;
		background-color: #fff;
		border: none;
		cursor: pointer;
		padding: 0;
	}

	&__list {
		margin: 0 auto 32px;
		width: 94%;
	}

	&__filter-title {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 160%;
		color: #8247e5;
	}

	&__empty {
		color: #525c76;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		width: 94%;
		margin: 20px auto 30px;
		border-bottom: 1px solid #e2e4e8;
		padding-bottom: 5px;
	}
}

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	top: 0;
	left: 0;
	transition: visibility 0s, opacity 0.3s linear;
	z-index: 2;

	&__container {
		display: block;
		position: absolute;
		margin-top: 15px;
		background: #ffffff;
		border-radius: 8px;
		border: 1px solid #e2e4e8;
		padding: 10px 0;
		width: 526px;
		height: 80%;
		top: 17%;
		left: 59%;
	}

	&__title {
		color: #525c76;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		margin: 0;
		padding: 0;
	}

	&__close-button {
		background-image: url(../../../images/Icon-close-popup.svg);
		margin-top: 5px;
		width: 18px;
		height: 18px;
		background-color: inherit;
		border: none;
		cursor: pointer;
		transition: opacity 0.3s ease-in-out;

		&:hover {
			opacity: 0.8;
		}
	}

	&__header {
		margin: 0 auto;
		padding-top: 50px;
		padding-bottom: 32px;
		width: 77%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__status {
		width: 77%;
		margin: 0 auto;
		color: #8c93a3;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		padding-bottom: 5px;
	}

	&__description-title {
		width: 77%;
		padding-top: 17px;
		margin: 0 auto;
		color: #525c76;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
	}

	&__description-text {
		width: 77%;
		padding-top: 9px;
		padding-bottom: 15px;
		margin: 0 auto;
		color: #525c76;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
	}

	&__description {
		width: 77%;
		padding-top: 7px;
		margin: 0 auto;
		color: #525c76;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
	}

	&__button {
		color: #8247e5;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 160%;
		width: 200px;
		height: 36px;
		border-radius: 3px;
		border: 1px solid #a673ef;
		background-color: #fff;
		margin-bottom: 32px;
		margin-left: 12%;
		margin-top: 58px;
		cursor: pointer;

		&:hover {
			background-color: #f9f8ff;
			box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
		}

		&:active {
			background-color: #8247e5;
			color: #fff;
		}
	}
}

.tasks__sort-button {
	margin-right: 7px;
}

.tasks__sort-button-active {
	margin-right: 8px;
}

.tasks__nav {
	margin-left: 20px;
	width: 100%;
}

.popup {
	&__container {
		width: 458px;
		height: 80%;
		top: 11%;
		left: 66%;
	}

	&__header {
		padding-top: 38px;
		padding-bottom: 26px;
		width: 80%;
	}

	&__status {
		width: 80%;
		padding-bottom: 3px;
	}

	&__description-title {
		width: 80%;
		padding-top: 12px;
	}

	&__description-text {
		width: 80%;
		padding-bottom: 10px;
	}

	&__description {
		width: 80%;
		padding-top: 5px;
	}

	&__button {
		margin-bottom: 32px;
		margin-left: 10%;
		margin-top: 58px;
	}
}


@media (max-width: 1024px) {
	.tasks {
		margin: 24px;
		max-width: 753px;

		&__title {
			margin: 25px auto 20px;
			width: 94%;
			font-size: 20px;
			line-height: 160%;
		}

		&__nav {
			width: 92%;
			margin-bottom: 5px;
		}
	}
	.popup {
		&__container {
			left: 52%;
		}
	}
}
